* {
  margin: 0;
  padding: 0;
  font-family: Ubuntu;
}

body {
  background-image: url('/ocean.jpg');
  background-repeat: repeat;
}

footer {
  position: fixed;
  width: 100vw;
  left: 0;
  bottom: 0;
  background-color: #000000e3;
}

.opener {
  width: 80px;
  height: 22px;
  background-color: #000000e3;
  position: absolute;
  left: 50%;
  margin-left: -40px;
  top: -22px;
  border-radius: 35px 35px 0 0;
  text-align: center;
  line-height: 24px;
  color: #ffad00;
}

.opener-icon {
  transition: transform 0.5s;
}

.opener.opened .opener-icon {
  transform: rotate(180deg);
}

.types-panel, .prefix-panel {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.prefix-panel {
  height: 0;
  transition: height 0.5s;
}

.prefix-panel.opened {
  height: 70px;
}

.type-toggler, .prefix-toggler {
  width: 50px;
  height: 70px;
  border-radius: 50%;
  line-height: 70px;
  text-align: center;
  font-size: 1.4rem;
  color: #9a9a9a;
}

.type-toggler.enabled,
.prefix-toggler.enabled {
  color: #ffb002;
}

.container {
  margin: 20px auto;
}

.card-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-bottom: 50px;
}

.card {
  width: 85%;
  min-height: 150px;
  background: linear-gradient(to bottom right, #ff6a00, #ffe000);
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  box-sizing: border-box;
}

.card h2 {
  text-align: center;
  margin-top: 45px;
  font-weight: 400;
  font-size: 2rem;
}

.card p {
  font-size: 1.1rem;
}

.card p:not(:last-child) {
  margin-bottom: 15px;
}